@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/backcover.svg");
    background-repeat: no-repeat;
    background-position:  right bottom;
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
}

.nav{
    padding: 0 7.5%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img{
    height: 50px;
}

.list > ul{
    display: flex;
    gap: 40px;
}

.item{
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    color: #3e4794;
    text-transform: uppercase;
}

.nav-btn{
    font-size: 15px;
    font-weight: 600;
    padding: 0 12px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #965cf2, #ff8adc);
    border-radius: 30px;
    text-decoration: none;
}

.section{
    padding-left: 7.5%;
}

.left-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}

.left-section > h1{
    color: #3e4794;
    font-weight: 600;
    font-size: 60px;
}

.left-section > p{
    color: #8d8d8d;
    font-weight: 100;
}

.left-section > button{
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    align-self: flex-start;
    color: #fff;
    background: linear-gradient(to right, #965cf2, #ff8adc);
    margin-top: 20px;
    cursor: pointer;
}

.vector-img{
    position: absolute;
    left: 700px;
    bottom: -130px;
}

.vector-dot{
    position: absolute;
    left: 750px;
}

.intro-img{
    height: 550px;
    position: absolute;
    top: 130px;
    right: 0;
}

@media only screen and (max-width: 1000px){

    br{
        display: none;
    }

    body{
        height: auto;
        background-position: right;
    }

    .nav{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 64px;
        background-color: #fff;
        z-index: 999;
    }

    .nav-img{
        height: 30px;
    }

    .list{
        display: none;
    }

    .img-container{
        display: none;
    }

    .section{
        padding: 0 7.5%;
    }

    .left-section > h1{
        text-align: center;
    }

    .left-section > button{
        align-self: center;
    }

    @media only screen and (min-width:600px) and (max-width: 1000px){

        .img-container{
            display: block;
        }

        [src="./images/vector.svg"]{
            display: none;
        }

        [src="./images/vector-dot.svg"]{
            display: none;
        }

        [src="./images/intro-img.svg"]{
            top: 150px;
            opacity: 0.2;
            height: 300px;
            width: 100%;
        }
    }

}
